<%= page_entries_info @events %>

<div class="row ">
  <div class="eight columns">
    <% @events.each do |event| %>
      <card class="event-card">
        <h4><%= event.title %></h4>
        <% if !event.banner.blank? %>
          <%= image_tag event.banner %>
        <% else %>
          <img src="http://via.placeholder.com/540x300">
        <% end %>
        <div class="row">
          <div class="six columns">
            <p class="major-info"><%= event.location %></p>
            <p class="major-info"><%= event.start_at.strftime('%Y/%m/%d %H:%M') %></p>
          </div>
          <div class="six columns">
            <p class="ticket-price"><%= event.ticket_price %>円</p>
            <%= link_to 'Purchase', new_event_purchase_path(event), class: 'button button-primary' %>
          </div>
        </div>
      </card>
    <% end %>
  </div>
  <sidebar class="four columns categories-sb">
    <card class="categories-card">
      <h4>Categories</h4>
      <ul>
        <% @event_categories.each do |category| %>
          <li><%= link_to category.name, category: category.name.downcase %></li>
        <% end %>
      </ul>
    </card>
    <card class="search-card">
      <h4>Search</h4>
      <%= form_tag '/', :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
    </card>
  </sidebar>
</div>

<%= paginate @events %>